@inject IUnitOfWork unitOfwork
@inject IJSRuntime jsRunTime

<div id="modal_product_options" class="modal fade modal-backup" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h6 class="modal-title">بيانات المنتج (dasd)</h6>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-component nav-justified product-control-nav mb-15">
                    <li class="active"><a href="#product-desc-tab" data-toggle="tab" aria-expanded="false"><i class="sicon-content position-left"></i>بيانات المنتج</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="product-desc-tab">
                        <div class="row product-data-row product">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>يتطلب شحن / توصيل ؟</label>
                                    <div class="input-group">
                                        <span class="input-group-addon input-group-addon-small"><i class="sicon-shipping"></i></span>

                                        <select @bind="ShimpmentString" class="bootstrap-select" id="require_shipping" name="require_shipping" style="width: 100%" tabindex="-98">

                                            <option value="False">
                                                لا يتطلب
                                                شحن
                                            </option>

                                            <option value="True">
                                                نعم، يتطلب
                                                شحن
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-data-row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>وزن المنتج</label>
                                    <div class="input-group">
                                        <span class="input-group-addon input-group-addon-small"> <i class="sicon-luggage-cart"></i> </span>
                                        <input type="text" @bind-value="ProductModel.ProductModelDetails.Weight" id="product_weight" name="weight" class="form-control" placeholder="وزن المنتج">
                                        <span class="input-group-addon">KG</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-data-row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>رمز التخزين</label>
                                    <div class="input-group" title="رمز التخزين SKU">
                                        <span class="input-group-addon input-group-addon-small"> <i class="sicon-lock"></i> </span>
                                        <input type="text" @bind-value="ProductModel.ProductModelDetails.SKU" class="form-control" placeholder="رمز التخزين SKU">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-data-row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>سعر التكلفة</label>
                                    <div class="input-group" title="سعر التكلفة">
                                        <span class="input-group-addon input-group-addon-small"> <i class="sicon-lock"></i> </span>
                                        <input type="text" @bind-value="ProductModel.ProductModelDetails.CostPrice" class="form-control cost_price _parseArabicNumbers" placeholder="سعر التكلفة">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="number" class="form-control full-bordered" id="current_product_price" readonly="" value="321.00">
                                </div>
                            </div>
                        </div>
                        <div class="row product-data-row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>السعر المخفض</label>
                                    <div class="input-group" title="السعر المخفض">
                                        <span class="input-group-addon input-group-addon-small"><i class="sicon-special-discount"></i></span>
                                        <input type="text" @bind-value="ProductModel.ProductModelDetails.DiscoutPrice" class="form-control product_sale_price _parseArabicNumbers" placeholder="السعر المخفض">
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-xs-6">
                                    <div class="form-group">
                                        <label>نهاية التخفيض</label>
                                        <div class="input-group" title="نهاية التخفيض">
                                            <span class="input-group-addon input-group-addon-small"><i class="sicon-calendar"></i></span>
                                            <input type="text" id="product_end_sale" name="sale_end" class="form-control" value="" placeholder="نهاية التخفيض (اختياري)">
                                        </div>
                                    </div>
                                </div>*@
                        </div>

                        <div class="ql-toolbar ql-snow">

                            <input type="text" style="display: none;" class="quill_text_color_picker"><div class="sp-replacer sp-light quill_text_color_picker_selector" style="display: none;"><div class="sp-preview"><div class="sp-preview-inner" style="background-color: rgb(0, 0, 0);"></div></div><div class="sp-dd">▼</div></div><input type="text" style="display: none;" class="quill_text_background_color_picker">
                            <div class="sp-replacer sp-light quill_text_background_color_picker_selector" style="display: none;">
                                <div class="sp-preview"><div class="sp-preview-inner" style="background-color: rgb(0, 0, 0);"></div></div>
                                <div class="sp-dd">▼</div>
                            </div>
                        </div>
                        <div id="product_description" class="ql-container ql-snow">
                            <BlazoredTextEditor @ref="@QuillHtml" Placeholder="وصف المنتج">
                                <ToolbarContent>
                                    <select class="ql-header">
                                        <option selected=""></option>
                                        <option value="1"></option>
                                        <option value="2"></option>
                                        <option value="3"></option>
                                        <option value="4"></option>
                                        <option value="5"></option>
                                    </select>
                                    <span class="ql-formats">
                                        <button class="ql-bold"></button>
                                        <button class="ql-italic"></button>
                                        <button class="ql-underline"></button>
                                        <button class="ql-strike"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <select class="ql-color"></select>
                                        <select class="ql-background"></select>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-list" value="ordered"></button>
                                        <button class="ql-list" value="bullet"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-link"></button>
                                    </span>
                                </ToolbarContent>

                            </BlazoredTextEditor>
                        </div>
                        <div class="form-group mt-20 mb-0">
                            <h6 class="mt-0 mb-10">
                                تحسينات SEO
                                <span class="label label-primary label-rounded plan-team-background">سلة برو</span>
                            </h6>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>عنوان صفحة المنتج (Page Title)</label>
                                                <div class="input-group" title="عنوان صفحة المنتج (Page Title)">
                                                    <span class="input-group-addon input-group-addon-small"><i class="sicon-type-square"></i></span>
                                                    <input type="text" id="metadata_title" name="metadata_title" maxlength="70" class="form-control" disabled="" placeholder="عنوان صفحة المنتج (Page Title)" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-20">
                                            <div class="form-group">
                                                <label>وصف صفحة المنتج (Page Description)</label>
                                                <div class="input-group" title="وصف صفحة المنتج (Page Description)">
                                                    <span class="input-group-addon input-group-addon-small"><i class="sicon-content"></i></span>
<textarea name="metadata_description" class="form-control" id="metadata_description" maxlength="150" cols="30" rows="2" disabled="" placeholder="وصف صفحة المنتج (Page Description)
                            "></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="product-options-tab" data-type="product">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="Save" id="save_product_options" class="btn btn-tiffany btn-info btn-save">حفظ بيانات المنتج</button>
                <button type="button" id="save_group_product" class="btn btn-tiffany btn-info btn-save" style="display: none">حفظ مجموعة المنتجات</button>
                <button class="btn btn-info btn-close" data-dismiss="modal">إلغاء</button>
            </div>
        </div>
    </div>
</div>




@code{
    [Parameter]
    public ProductModel ProductModel { get; set; } = new ProductModel();
    [Parameter]
    public int Id { get; set; }
    public BlazoredTextEditor QuillHtml { get; set; } = new BlazoredTextEditor();
    public string ShimpmentString { get; set; }

    private async Task Save()
    {
        try
        {
            ProductModel.ProductModelDetails.Details = await QuillHtml.GetHTML();
            switch (ShimpmentString)
            {
                case "True":
                    ProductModel.ProductModelDetails.Shipment = true;
                    break;
                case "False":
                    ProductModel.ProductModelDetails.Shipment = false;
                    break;
            }
            await unitOfwork.ProductRepository.Update(ProductModel.ID, ProductModel);
            await unitOfwork.Complete();
            await jsRunTime.ToastrSuccess("تمت العملية بنجاح");
            await jsRunTime.InvokeVoidAsync("modalState", "#modal_product_options", "hide");

        }
        catch (Exception e)
        {
            await jsRunTime.ToastrError(e.Message);
        }
    }


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        string? productDetails = ProductModel.ProductModelDetails.Details;
        if (productDetails != null)
        {
            QuillHtml.LoadHTMLContent(productDetails);

        }
        else
        {
            QuillHtml.LoadHTMLContent("");
        }



    }


}