@page "/customers"
@inject FileUpload FileUpload
@inject NavigationManager Nav
@inject IUnitOfWork unitOfwork


<div class="content-wrapper content-padding" id="content_box">
    <div id="res_sf">
        <form class="navbar-form navbar-left" action="https://s.salla.sa/search" method="get">
            <div class="search-group">
                <input type="text" id="searchbox" name="keyword" class="form-control search-input input-lg" placeholder="ابحث بإسم العميل ، رقم الجوال" value="">
                <div class="btn-group bootstrap-select search-select hidden">
                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" data-id="search_input_type" title="العملاء"><span class="filter-option pull-left">العملاء</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="0"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">الطلبات</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">المنتجات</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">العملاء</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="search-select hidden" id="search_input_type" name="search_type" data-dropup-auto="false" tabindex="-98" style="display: inline-block;">
                        <option value="orders">الطلبات</option>
                        <option value="products">المنتجات</option>
                        <option value="customers" selected="">العملاء</option>
                    </select>
                </div>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-tiffany btn-lg"><i class="sicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div class="page-header page-header-xs" id="page_header_box">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-content">

                    <div class="page-title breadcrumb-container mobile-webview-hide">
                        <nav class="nav-breadcrumb" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item home">
                                    <a href="https://s.salla.sa/home">
                                        <i class="sicon-home"></i>
                                        الرئيسية
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">العملاء</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="heading-elements heading-help mobile-webview-hide">
                        <div class="btn-group heading-btn">
                            <button class="btn bg-tiffany btn-icon btn-sm load_help_center_modal" data-toggle="dropdown">
                                <i class="sicon-life-ring"></i>
                                <span>مساعدة ؟</span>
                            </button>
                        </div>
                        <div id="help_center_div"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content ">
        <div id="progress-report-modal" class="modal modal-backup fade in col-sm-6 col-sm-offset-3" tabindex="-1" style="direction: ltr;">
        </div>

        <div class="row customers-row">
            <div class="col-lg-12">
                <h6 class="panel-title">
                    <i class="sicon-group"></i>&nbsp; مجموعات العملاء &nbsp;
                    <span class="text-muted text-size-small">(1 مجموعات) </span>
                </h6>
                <div class="store-setup-row mt-20 mb-50 clients-gp">
                    <div>
                        <div class="store-setup-item">
                            <i class="sicon-group"></i>
                            <div>
                                <a href="https://s.salla.sa/customers/groups/groups/-1" data-id="-1" class="ajax no-errors store-setup-title" data-type="get" data-nonconfirm="true">
                                    جميع العملاء
                                </a>
                                <small class="store-setup-desc hidden-xs display-block">
                                    عميل واحد
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="store-setup-item">
                        <i class="sicon-add"></i>
                        <div>
                            <a href="https://s.salla.sa/customers/groups/create" class="ajax no-errors store-setup-title" data-type="post" data-nonconfirm="true">
                                مجموعة جديدة
                            </a>
                            <small class="store-setup-desc hidden-xs display-block">
                                &nbsp;
                            </small>
                        </div>
                    </div>
                </div>
                <div id="group_form_div"></div>
            </div>
        </div>
        <div class="row btns-row btns-row--sm">
            <div class="col-sm-7 sub-btns">
                <ul class="nav nav-lg">
                    <li>
                        <a id="rec_filter_toggle"><i class="sicon-filter"></i> تصفية</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="sicon-toolbox"></i>
                            خدمات
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="https://s.salla.sa/import/customers/import" class="dropdown-link">
                                    <i class="sicon-archive-upload"></i>
                                    استيراد العملاء
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 main-btn">
                <button type="button" id="modal_create_customer_button" class="btn btn-tiffany btn-rounded btn-xlg"><i class="sicon-add"></i> عميل جديد</button>
            </div>
        </div>
        <div class="row customers-row">
            <div class="col-lg-12">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            <div class="checker" id="uniform-checkbox_all_customers"><span><input type="checkbox" class="styled" id="checkbox_all_customers"></span></div>
                            <i class="sicon-users"></i>&nbsp; العملاء
                            &nbsp;<span class="text-muted text-size-small">
                                (1
                                عميل)
                            </span>
                        </h6>
                        <div class="heading-elements">
                            <div class="btn-group heading-btn">
                                <button type="button" class="btn btn-tiffany btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="sicon-magic-wand flip-x"></i> تحرير سريع
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="no-more-tables table-with-links">
                        <div class="render" style="text-align:center;display: none">
                        </div>

                        @foreach (var customer in Users)
                        {
                            <table class="table text-nowrap">
                                <tbody id="table_list_customer" class="infinite-scroll">
                                    <tr class="table-row customer-row">
                                        <td class="order-customer customer-td">
                                            <div class="media-left media-middle">
                                                <div class="checkbox-area">
                                                    <div class="checker">
                                                        <span>
                                                            <input type="checkbox" data-customer-name="adelaljasem" class="styled checkbox_order selected_customers" value="6617879" data-name="adel aljasem">
                                                        </span>
                                                    </div>
                                                </div>
                                                <NavLink href="@($"customers/{customer.Id}")"><img src="https://assets.salla.sa/cp/assets/images/avatar_male.png" class="img-circle" alt=""></NavLink>
                                            </div>
                                            <div class="media-left media-body-middle">
                                                <div>
                                                    <NavLink href="@($"customers/{customer.Id}")">
                                                        @customer.Name
                                                    </NavLink>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="المدينة"><span class="text-muted">جدة</span></td>
                                    </tr>

                                </tbody>
                            </table>
                        }

                    </div>
                </div>
                <div class="page-load-status" style="display: none">
                    <div class="infinite-scroll-request">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="group_bulk_form_div"></div>
        <div id="customer_form_div"></div>

        <form method="GET" id="filters_form" action="https://s.salla.sa/customers">
            <div class="rec-filter-wrapper">
                <div class="rec-filter-cont">
                    <div class="rec-filters">
                        <h1 class="title title--small">
                            <i class="sicon-filter"></i>
                            فرز العملاء حسب
                            <button id="filter_close" class="btn btn--circular"></button>
                        </h1>
                        <div class="rec-filter__section">
                            <div id="filter_text" class="collapse filter-content collapse in" aria-expanded="true">
                                <ul class="rec-list rec-list--vertical">
                                    <li>
                                        <div class="form-group">
                                            <div class="form-group">
                                                طلبات جديدة
                                                <label>الإسم او رقم الجوال يحتوي على</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon input-group-addon-small"><i class="sicon-user"></i></span>
                                                    <input class="form-control" id="search_keyword" name="keyword" value="" placeholder="ابحث عن ما تريد">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="rec-filter__section">
                            <button type="button" data-toggle="collapse" data-target="#filter_gender" class="btn filter-head" aria-expanded="true">
                                <span>
                                    <i class="sicon-user"></i>
                                    الجنس
                                </span>
                            </button>
                            <div id="filter_gender" class="collapse filter-content collapse in" aria-expanded="true">
                                <ul class="rec-list rec-list--vertical">
                                    <li>
                                        <div class="rec-checkbox rec-checkbox--default light">
                                            <input type="radio" name="gender" value="" id="gender_all" checked="">
                                            <label for="gender_all">
                                                <span>الكل</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="rec-checkbox rec-checkbox--default light">
                                            <input type="radio" name="gender" value="male" id="gender_male">
                                            <label for="gender_male">
                                                <span>الذكور</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="rec-checkbox rec-checkbox--default light">
                                            <input type="radio" name="gender" value="female" id="gender_female">
                                            <label for="gender_female">
                                                <span>الإناث</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="rec-filter__section">
                            <button type="button" data-toggle="collapse" data-target="#filter_address" class="btn filter-head" aria-expanded="true">
                                <span>
                                    <i class="sicon-location"></i>
                                    العنوان
                                </span>
                            </button>
                            <div id="filter_address" class="collapse filter-content collapse in" aria-expanded="true">
                                <ul class="rec-list rec-list--vertical">
                                    <li id="city_filter_container">
                                        <div class="form-group">
                                            <label>المدينة</label>
                                            <div class="input-group">
                                                <span class="input-group-addon input-group-addon-small"><i class="sicon-flag-wave"></i></span>
                                                <div class="btn-group bootstrap-select input-group-btn"><button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" data-id="city_filter" title="كل المدن"><span class="filter-option pull-left">كل المدن</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">كل المدن</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="selectpicker bootstrap-select" name="city" id="city_filter" tabindex="-98"><option value="">كل المدن</option></select></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="rec-filter__section">
                            <button type="button" data-toggle="collapse" data-target="#filter_groups" class="btn filter-head" aria-expanded="true">
                                <span>
                                    <i class="sicon-users"></i>
                                    المجموعات
                                </span>
                            </button>
                            <div id="filter_groups" class="collapse filter-content collapse in" aria-expanded="true">
                                <ul class="rec-list rec-list--vertical">
                                    <li>
                                        <div class="alert alert-warning text-center">
                                            لا يوجد مجموعات في متجرك حاليا
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="rec-filter__section">
                            <button type="button" data-toggle="collapse" data-target="#filter_dates" class="btn filter-head" aria-expanded="true">
                                <span>
                                    <i class="sicon-align-right"></i>
                                    تاريخ فتح حساب
                                </span>
                            </button>
                            <div id="filter_dates" class="collapse filter-content collapse in" aria-expanded="true">
                                <ul class="rec-list rec-list--vertical">
                                    <li>
                                        <div class="form-group">
                                            <div class="ui filter calendar filter_range_start" style="max-height:35px">
                                                <div class="input-group">
                                                    <div class="ui popup calendar"><table class="ui celled center aligned unstackable table day"><thead><tr><th colspan="7"><span class="link">June 2021</span><span class="prev link"><i class="sicon-keyboard_arrow_left"></i></span><span class="next link"><i class="sicon-keyboard_arrow_right"></i></span></th></tr><tr><th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th></tr></thead><tbody><tr><td class="link adjacent disabled">30</td><td class="link adjacent disabled">31</td><td class="link">1</td><td class="link">2</td><td class="link">3</td><td class="link">4</td><td class="link">5</td></tr><tr><td class="link">6</td><td class="link">7</td><td class="link">8</td><td class="link">9</td><td class="link">10</td><td class="link">11</td><td class="link">12</td></tr><tr><td class="link">13</td><td class="link">14</td><td class="link">15</td><td class="link">16</td><td class="link">17</td><td class="link today focus">18</td><td class="link">19</td></tr><tr><td class="link">20</td><td class="link">21</td><td class="link">22</td><td class="link">23</td><td class="link">24</td><td class="link">25</td><td class="link">26</td></tr><tr><td class="link">27</td><td class="link">28</td><td class="link">29</td><td class="link">30</td><td class="link adjacent disabled">1</td><td class="link adjacent disabled">2</td><td class="link adjacent disabled">3</td></tr><tr><td class="link adjacent disabled">4</td><td class="link adjacent disabled">5</td><td class="link adjacent disabled">6</td><td class="link adjacent disabled">7</td><td class="link adjacent disabled">8</td><td class="link adjacent disabled">9</td><td class="link adjacent disabled">10</td></tr></tbody></table></div>
                                                    <span class="input-group-addon input-group-addon-small"><i class="sicon-calendar-alt"></i></span>
                                                    <input type="text" class="form-control created_dates" placeholder="من" name="created_after" value="" autocomplete="off">
                                                </div>
                                                <span class="clear-date-btn clear-date-after-btn" style="display:none;position: relative;top: -27px;right: 90%;z-index: 2;color: #f6695e;cursor: pointer;" onclick="resetCreatedDate('created_after')">
                                                    <i class="sicon-trash"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <div class="ui filter calendar filter_range_end" style="max-height:35px">
                                                <div class="input-group">
                                                    <div class="ui popup calendar"><table class="ui celled center aligned unstackable table day"><thead><tr><th colspan="7"><span class="link">June 2021</span><span class="prev link"><i class="sicon-keyboard_arrow_left"></i></span><span class="next link"><i class="sicon-keyboard_arrow_right"></i></span></th></tr><tr><th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th></tr></thead><tbody><tr><td class="link adjacent disabled">30</td><td class="link adjacent disabled">31</td><td class="link">1</td><td class="link">2</td><td class="link">3</td><td class="link">4</td><td class="link">5</td></tr><tr><td class="link">6</td><td class="link">7</td><td class="link">8</td><td class="link">9</td><td class="link">10</td><td class="link">11</td><td class="link">12</td></tr><tr><td class="link">13</td><td class="link">14</td><td class="link">15</td><td class="link">16</td><td class="link">17</td><td class="link today focus">18</td><td class="link">19</td></tr><tr><td class="link">20</td><td class="link">21</td><td class="link">22</td><td class="link">23</td><td class="link">24</td><td class="link">25</td><td class="link">26</td></tr><tr><td class="link">27</td><td class="link">28</td><td class="link">29</td><td class="link">30</td><td class="link adjacent disabled">1</td><td class="link adjacent disabled">2</td><td class="link adjacent disabled">3</td></tr><tr><td class="link adjacent disabled">4</td><td class="link adjacent disabled">5</td><td class="link adjacent disabled">6</td><td class="link adjacent disabled">7</td><td class="link adjacent disabled">8</td><td class="link adjacent disabled">9</td><td class="link adjacent disabled">10</td></tr></tbody></table></div>
                                                    <span class="input-group-addon input-group-addon-small"><i class="sicon-calendar-alt"></i></span>
                                                    <input type="text" class="form-control created_dates" placeholder="إلى" name="created_before" value="" autocomplete="off">
                                                </div>
                                                <span class="clear-date-btn clear-date-before-btn" style="display:none;position: relative;top: -27px;right: 90%;z-index: 2;color: #f6695e;cursor: pointer;" onclick="resetCreatedDate('created_before')">
                                                    <i class="sicon-trash"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="rec-filter__submit">
                            <button type="submit" class="btn btn-tiffany btn-rounded btn-filter-submit">عرض النتائج</button>
                            <button type="reset" class="btn btn-outline-dark btn-filter-reset">إعادة تعيين</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="footer text-muted">
        <a href="https://s.salla.sa" target="_blank"> سلة</a> © 2021
    </div>

</div>

@code{

    public List<ApplicationUser> Users { get; set; } = new List<ApplicationUser>();

    protected async override Task OnInitializedAsync()
    {

        Users  = await unitOfwork.UserRepository.GetAll();
    }


}