@page "/order/new"

<div class="content-wrapper content-padding" id="content_box">
    <div id="res_sf">
        <form class="navbar-form navbar-left" action="https://s.salla.sa/search" method="get">
            <div class="search-group">
                <input type="text" id="searchbox" name="keyword" class="form-control search-input input-lg" placeholder="ابحث برقم الطلب ، اسم العميل ، رقم الشحنة" value="">
                <div class="btn-group bootstrap-select search-select hidden">
                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" data-id="search_input_type" title="الطلبات"><span class="filter-option pull-left">الطلبات</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">الطلبات</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">المنتجات</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">العملاء</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="search-select hidden" id="search_input_type" name="search_type" data-dropup-auto="false" tabindex="-98" style="display: inline-block;">
                        <option value="orders">الطلبات</option>
                        <option value="products">المنتجات</option>
                        <option value="customers">العملاء</option>
                    </select>
                </div>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-tiffany btn-lg"><i class="sicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div class="page-header page-header-xs" id="page_header_box">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-content">

                    <div class="page-title breadcrumb-container mobile-webview-hide">
                        <nav class="nav-breadcrumb" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item home">
                                    <a href="https://s.salla.sa/home">
                                        <i class="sicon-home"></i>
                                        الرئيسية
                                    </a>
                                </li>
                                <li class="breadcrumb-item ">
                                    <a href="https://s.salla.sa/orders">
                                        الطلبات
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">انشاء طلب</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="heading-elements heading-help mobile-webview-hide">
                        <div class="btn-group heading-btn">
                            <button class="btn bg-tiffany btn-icon btn-sm load_help_center_modal" data-toggle="dropdown">
                                <i class="sicon-life-ring"></i>
                                <span>مساعدة ؟</span>
                            </button>
                        </div>
                        <div id="help_center_div"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content ">
        <div id="progress-report-modal" class="modal modal-backup fade in col-sm-6 col-sm-offset-3" tabindex="-1" style="direction: ltr;">
        </div>
        
       
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-flat order-info-panel">
                    <div class="panel-body">
                        <div class="col-md-4 col-xs-12">
                            <div>
                                <span class="order-top-line">
                                    <i class="sicon-hashtag"></i> تعديل الطلب رقم
                                </span>
                                <div class="order-second-line">
                                    <div class="rec-line-wrapper">
                                        <div class="rec-order-no">
                                            17541644
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="text-center">
                                <span class="order-top-line">
                                    <i class="sicon-calendar-alt"></i> تاريخ الطلب
                                </span>
                                <div class="order-second-line">
                                    <div class="rec-line-wrapper">
                                        <div class="rec-order-date">
                                            الجمعة 18 يونيو 2021 | 09:02 PM
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="text-right">
                                <span class="order-top-line"><i class="sicon-flag-wave"></i> حالة الطلب</span>
                                <div class="order-second-line text-right">
                                    <div class="rec-order-status">
                                        جديد
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="border-top: none; padding: 15px 15px 10px;">
                        <div id="order_tags" class="form-group rec-tags mb-0">
                            <ul id="tags_list" class="rec-list rec-list--horizontal rec-list--tags rec-list--tags--icon-less mt-0">
                                <li class="title">الوسوم:</li>
                                <li class="input-wrapper">
                                    <div class="input-group" title="وسم الطلب">
                                        <input type="hidden" value="1370702255" class="order_id">
                                        <input type="text" name="sku" class="form-control tag-field" placeholder="اضافة وسم" value="">
                                        <button type="button" class="btn btn-tiffany btn-add-tag" title="إضافة الوسم"><i class="sicon-add"></i> </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="order-panels">
                    <div id="customer_block" class="panel panel-default order-panel rec-order-panel">
                        <div class="panel-heading">
                            <h6 class="panel-title title-thin">العميل</h6>
                            <div class="heading-elements">
                                <a class="btn btn-tiffany btn-xs edit_block" data-block-type="customer" onclick="showBlock('customer')"><i class="sicon-pencil"></i> تعديل</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="empty-box small-box">
                                <div class="empty-icon"><i class="sicon-user"></i></div>
                            </div>
                        </div>
                        <style>
                            [data-show-card] {
                                cursor: pointer;
                            }

                            .unactive-small {
                                color: #5dd5c4;
                                border-bottom: 1px solid #5dd5c4;
                                line-height: 1.5;
                            }
                        </style>
                        

                    </div>
                    <div id="shipping_block" class="panel panel-default order-panel rec-order-panel">

                        <div class="panel-heading">
                            <h6 class="panel-title title-thin"> الشحن</h6>
                            <div class="heading-elements">
                                <a class="btn btn-tiffany btn-xs edit_block" data-block-type="shipping" onclick="showBlock('shipping')"><i class="sicon-pencil"></i> تعديل</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="empty-box small-box">
                                <div class="empty-icon"><i class="sicon-shipping"></i></div>
                            </div>
                        </div>

                    </div>
                    <div id="payment_block" class="panel panel-default order-panel rec-order-panel">

                        <div class="panel-heading">
                            <h6 class="panel-title title-thin">الدفع</h6>
                            <div class="heading-elements">
                                <a class="btn btn-tiffany btn-xs edit_block" data-block-type="payment" onclick="showBlock('payment')"><i class="sicon-pencil"></i> تعديل</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="empty-box small-box">
                                    <div class="empty-icon"><i class="sicon-banknote-dollar"></i></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="products_block">
                    <div class="panel panel-white">
                        <div class="panel-heading">
                            <h6 class="panel-title"><i class="sicon-t-shirt"></i>&nbsp; المنتجات</h6>
                            <div class="heading-elements">
                                <a class="btn btn-tiffany edit_block" data-block-type="products" onclick="showBlock('products')"><i class="sicon-add"></i> اضافة منتج</a>
                            </div>
                        </div>
                        <div class="no-more-tables">
                            <table class="table">
                                <thead>
                                    <tr class="active hidden-xs">
                                        <th>المنتج</th>
                                        <th class="text-right"> الوزن </th>
                                        <th class="text-right"> الكمية </th>
                                        <th class="text-right"> السعر</th>
                                        <th class="text-right"> المجموع</th>
                                    </tr>
                                </thead>
                                <tbody style="border-top: none !important;">
                                    <tr class="table-row">
                                        <td class="hidden-xs"> مجموع السلة </td>
                                        <td colspan="4" class="text-right td-cod" data-title=" مجموع السلة ">
                                            ٠ ر.س
                                        </td>
                                    </tr>
                                    <tr class="table-row">
                                        <td class="hidden-xs"> تكلفة الشحن</td>
                                        <td colspan="4" class="text-right td-cod" data-title="الشحن">
                                            <h6 class="text-semibold">
                                                + ٠ ر.س
                                            </h6>
                                        </td>
                                    </tr>
                                    <tr class="table-row">
                                        <td class="hidden-xs">
                                            كوبونات التخفيض
                                        </td>
                                        <td colspan="4" class="text-right td-cod" data-title="كوبونات التخفيض">
                                            <h6 class="text-semibold">
                                                <a id="coupon_code_exist" data-type="select" data-value="0" data-source="https://s.salla.sa/coupons/coupon_list/zBxNrKbp5Lw0M7vb2YyWP9Q6kXlGRn3g" data-title="اختر الكوبون" class="editable editable-click coupon_code" data-original-title="" title="">إضافة كوبون</a>
                                            </h6>
                                        </td>
                                    </tr>
                                    <tr class="active table-row">
                                        <td class="hidden-xs"> إجمالي الطلب </td>
                                        <td colspan="4" class="text-right td-cod" data-title="إجمالي الطلب">
                                            <h6 class="text-semibold">
                                                <span id="total_span"> ٠ ر.س</span>
                                            </h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="item_quantity_div"></div>
                    </div>
                    
                </div>
                <div class="row" style="margin-top: 70px">
                    <div class="col-xs-12">
                        <button type="button" action="https://s.salla.sa/order/activate/zBxNrKbp5Lw0M7vb2YyWP9Q6kXlGRn3g" class="btn btn-tiffany btn-full btn-rounded btn-xlg mb-30 activate_order">
                            <i class="sicon-check"></i> إنشاء الطلب
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 sub-btns text-right">
                        <button type="button" action="https://s.salla.sa/order/draft/zBxNrKbp5Lw0M7vb2YyWP9Q6kXlGRn3g" class="btn btn-default btn-rounded btn-xlg mb-20 activate_order">
                            <i class="sicon-folder-open"></i> حفظ كمسودة
                        </button>
                    </div>
                    <div class="col-xs-6 main-btn">
                        <button id="remove_order" class="btn btn-danger btn-rounded btn-xlg mb-20 confirmation">
                            <i class="sicon-cancel"></i>حذف الطلب
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal_block_div"></div>
        <div id="modal_order_status_method" class="modal fade modal-backup" style="direction: ltr;">
            <form method="post" id="order_status_form">
                <input type="hidden" name="_token" value="6Kn1DBQxyPe7HnqeFus6lyPYSJcDmj424UOo5Vh7">
                <input type="hidden" value="zBxNrKbp5Lw0M7vb2YyWP9Q6kXlGRn3g" name="order_id" id="order_id">
                <div class="modal-dialog" style="direction: rtl;">
                    <div class="modal-content no-padding" style="padding-bottom: 15px;">
                        <div class="modal-header bg-info">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h6 class="modal-title"> حالة الطلب <span>#17541644</span></h6>
                        </div>
                        <div class="modal-body">
                            <div id="order_status_body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group mb-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="sicon-chat-conversation-alt"></i>
                                                </span>
                                                <div class="btn-group bootstrap-select input-group-btn">
                                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" data-id="order_status" title="بإنتظار الدفع"><span class="filter-option pull-left">بإنتظار الدفع</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">بإنتظار الدفع</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">بإنتظار المراجعة</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">قيد التنفيذ</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">تم التنفيذ</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">جاري التوصيل</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">تم التوصيل</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">تم الشحن</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">ملغي</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">مسترجع</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="bootstrap-select" id="order_status" name="order_status" style="width: 100%" tabindex="-98">
                                                        <option value="1473353380" data-original-status="1473353380" data-is-shippable="0">بإنتظار الدفع</option>
                                                        <option value="566146469" data-original-status="566146469" data-is-shippable="0">بإنتظار المراجعة</option>
                                                        <option value="1939592358" data-original-status="1939592358" data-is-shippable="0">قيد التنفيذ</option>
                                                        <option value="1298199463" data-original-status="1298199463" data-is-shippable="1">تم التنفيذ</option>
                                                        <option value="349994915" data-original-status="349994915" data-is-shippable="0">جاري التوصيل</option>
                                                        <option value="1723506348" data-original-status="1723506348" data-is-shippable="0">تم التوصيل</option>
                                                        <option value="814202285" data-original-status="814202285" data-is-shippable="0">تم الشحن</option>
                                                        <option value="525144736" data-original-status="525144736" data-is-shippable="0">ملغي</option>
                                                        <option value="989286562" data-original-status="989286562" data-is-shippable="0">مسترجع</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group mb-0">
<textarea id="status_note" name="note" placeholder=" ملاحظات إضافية للعميل.." maxlength="70"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden">
                                    <div id="companies_options" data-company-id="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="update_status" class="btn btn-info btn-save" name="update_button"> تعديل حالة الطلب</button>
                            <button class="btn btn-info btn-close" data-dismiss="modal">
                                إغلاق
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="footer text-muted">
        <a href="https://s.salla.sa" target="_blank"> سلة</a> © 2021
    </div>

</div>