@page "/home"
@page "/"
@attribute [Authorize]

<div class="content-wrapper content-padding" id="content_box">
    <div id="res_sf">
        <form class="navbar-form navbar-left" action="https://s.salla.sa/search" method="get">
            <div class="search-group">
                <input type="text" id="searchbox" name="keyword" class="form-control search-input input-lg" placeholder="ابحث برقم الطلب ، اسم العميل ، رقم الشحنة" value="">
                <div class="btn-group bootstrap-select search-select hidden">
                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" data-id="search_input_type" title="الطلبات"><span class="filter-option pull-left">الطلبات</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">الطلبات</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">المنتجات</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">العملاء</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="search-select hidden" id="search_input_type" name="search_type" data-dropup-auto="false" tabindex="-98" style="display: inline-block;">
                        <option value="orders">الطلبات</option>
                        <option value="products">المنتجات</option>
                        <option value="customers">العملاء</option>
                    </select>
                </div>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-tiffany btn-lg"><i class="sicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="page-header page-header-xs" id="page_header_box">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-content">
                    <div class="heading-elements heading-help mobile-webview-hide">
                        <div class="btn-group heading-btn">
                            <button class="btn bg-tiffany btn-icon btn-sm load_help_center_modal" data-toggle="dropdown">
                                <i class="sicon-life-ring"></i>
                                <span>مساعدة ؟</span>
                            </button>
                        </div>
                        <div id="help_center_div"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content ">
        <div id="progress-report-modal" class="modal modal-backup fade in col-sm-6 col-sm-offset-3" tabindex="-1" style="direction: ltr;">
        </div>

        <div class="alert-box alert-box--white uncompleted">
            <a class="no-m" href="https://s.salla.sa/entity/verify">
                <i></i>
            </a>
            <article>
                <a class="text-muted2 text-style-none" href="https://s.salla.sa/entity/verify">
                    <h6 class="no-m">توثيق المتجر <span>(غير مكتمل)</span></h6>
                </a>
                <p class="text-muted text-muted-small">
                    يجب التعريف بالصفة الرسمية لمالك المتجر للاستفادة الكاملة من إمكانيات المنصة.
                    <a class="text-muted2" href="https://s.salla.sa/help_center/JZnZ">(اقرأ الأسئلة الشائعة)</a>
                </p>
                <p>تتطلب هذه الخدمة رسوم إدارية رمزية بقيمة (10 ريال) من قبل ابشر و وزارة التجارة، لكن سيتم إعفاء المتاجر عنها لفترة مؤقتة، فسارع بتوثيق متجرك!</p>
            </article>
        </div>

        <div data-blocked-detected="" class="alert-box alert-box--danger hidden">
            <i class="sicon-info"></i>
            <article>
                <p>
                    يبدو انك تستخدم إضافة لحجب الإعلانات في متصفحك مما قد يمنع لوحة التحكم من العمل، يرجى تعطيلها لموقع سلة لتتمكن من إدارة متجرك بكل كفاءة
                </p>
            </article>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-9 dashboard-right-col">
                <div id="setup_div">
                    <div class="setup-row hidden-xs ">
                        <div class="panel-heading">
                            <h6 class="panel-title"><i class="sicon-settings"></i> &nbsp; إعداد المتجر لأول مرة</h6>
                        </div>
                        <div class="row" style="display: flex; margin:0;">
                            <div class="col-sm-3 step-box ">
                                <div class="panel setup-panel">
                                    <div class="panel-body text-center setup-wrapper">
                                        <img class="store-setup-icon" src="https://assets.salla.sa/cp/assets/images/store-setup/products.png" alt="products">
                                        <h5 class="text-semibold">إضافة المنتجات</h5>
                                        <p class="step-desc">قم بإضافة المنتجات لكي تكون جاهزة للبيع في المتجر</p>
                                        <a href="https://s.salla.sa/products" class="btn bg-red text-white">أضف منتجاتك</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 step-box ">
                                <div class="panel setup-panel">
                                    <div class="panel-body text-center setup-wrapper">
                                        <img class="store-setup-icon" src="https://assets.salla.sa/cp/assets/images/store-setup/shipping.png" alt="shipping">
                                        <h5 class="text-semibold">خيارات الشحن</h5>
                                        <p class="step-desc">قم بالربط مع شركات الشحن بكل سهولة</p>
                                        <a href="https://s.salla.sa/shipping" class="btn bg-red text-white">تفعيل خيارات الشحن</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 step-box ">
                                <div class="panel setup-panel">
                                    <div class="panel-body text-center setup-wrapper">
                                        <img class="store-setup-icon" src="https://assets.salla.sa/cp/assets/images/store-setup/payment.png" alt="payment">
                                        <h5 class="text-semibold">طرق الدفع</h5>
                                        <p class="step-desc">فعّل وسائل الدفع التي ترغب بتوفيرها لعملائك</p>
                                        <a href="https://s.salla.sa/payment" class="btn bg-red text-white">تفعيل طرق الدفع</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 step-box ">
                                <div class="panel setup-panel">
                                    <div class="panel-body text-center setup-wrapper">
                                        <img class="store-setup-icon" src="https://assets.salla.sa/cp/assets/images/store-setup/setup.png" alt="setup">
                                        <h5 class="text-semibold">إعداد المتجر</h5>
                                        <p class="step-desc">قم بإعداد متجرك من خلال بعض الخطوات البسيطة</p>
                                        <a href="https://s.salla.sa/settings" class="btn bg-red text-white">إعداد المتجر</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-7"><h6 class="panel-title"><i class="sicon-wrench"></i>&nbsp; إعداد سلة</h6></div>
                                        <div class="col-xs-5">
                                            <div class="progress progress-xxs" style="margin-top: 9px;">
                                                <div class="progress-bar progress-bar-success" style="width: 0%;">
                                                    <span class="sr-only">0% مكتمل</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ul class="media-list media-list-linked media-list-bordered">
                                    <li class="media">
                                        <a href="https://s.salla.sa/products" class="media-link more-link">
                                            <div class="media-left">
                                                <img class="store-setup-icon" src="https://assets.salla.sa/cp/assets/images/store-setup/products.png" alt="products">
                                            </div>
                                            <div class="media-body" style="vertical-align: middle;">
                                                <h6 class="media-heading text-semibold" style="color: #f55157 !important;">إضافة المنتجات</h6>
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="sicon-keyboard_arrow_left" style="color: #f55157 !important;"></i>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="https://s.salla.sa/shipping" class="media-link more-link">
                                            <div class="media-left">
                                                <img class="store-setup-icon" src="https://assets.salla.sa/cp/assets/images/store-setup/shipping.png" alt="shipping">
                                            </div>
                                            <div class="media-body" style="vertical-align: middle;">
                                                <h6 class="media-heading text-semibold" style="color: #f55157 !important;">خيارات الشحن</h6>
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="sicon-keyboard_arrow_left" style="color: #f55157 !important;"></i>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="https://s.salla.sa/payment" class="media-link more-link">
                                            <div class="media-left">
                                                <img class="store-setup-icon" src="https://assets.salla.sa/cp/assets/images/store-setup/payment.png" alt="payment">
                                            </div>
                                            <div class="media-body" style="vertical-align: middle;">
                                                <h6 class="media-heading text-semibold" style="color: #f55157 !important;">طرق الدفع</h6>
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="sicon-keyboard_arrow_left" style="color: #f55157 !important;"></i>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="https://s.salla.sa/settings" class="media-link more-link">
                                            <div class="media-left">
                                                <img class="store-setup-icon" src="https://assets.salla.sa/cp/assets/images/store-setup/setup.png" alt="setup">
                                            </div>
                                            <div class="media-body" style="vertical-align: middle;">
                                                <h6 class="media-heading text-semibold" style="color: #f55157 !important;">إعداد المتجر</h6>
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="sicon-keyboard_arrow_left" style="color: #f55157 !important;"></i>
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="summery_div">
                    <div class="row stats-row">
                        <div id="main_chart" class="main-chart col-xs-12 col-md-6" style="overflow: hidden; text-align: left;"><div class="amcharts-main-div" style="position: relative;"><div class="amcharts-chart-div" style="overflow: hidden; position: relative; text-align: left; width: 355px; height: 300px; padding: 0px; touch-action: auto;"><svg version="1.1" style="position: absolute; width: 355px; height: 300px; top: 0.40625px; left: -0.140625px;"><desc>JavaScript chart by amCharts 3.20.7</desc><g><path cs="100,100" d="M0.5,0.5 L354.5,0.5 L354.5,299.5 L0.5,299.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-bg"></path><path cs="100,100" d="M0.5,0.5 L319.5,0.5 L319.5,243.5 L0.5,243.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-plot-area" transform="translate(15,20)"></path></g><g><g class="amcharts-category-axis" transform="translate(15,20)"><g><path cs="100,100" d="M0.5,0.5 L0.5,5.5" fill="none" stroke-width="0" stroke-opacity="0.3" stroke="#fff" transform="translate(0,243)" class="amcharts-axis-tick"></path><path cs="100,100" d="M0.5,243.5 L0.5,243.5 L0.5,0.5" fill="none" stroke-width="0" stroke-opacity="0.07" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M74.5,0.5 L74.5,5.5" fill="none" stroke-width="0" stroke-opacity="0.3" stroke="#fff" transform="translate(0,243)" class="amcharts-axis-tick"></path><path cs="100,100" d="M74.5,243.5 L74.5,243.5 L74.5,0.5" fill="none" stroke-width="0" stroke-opacity="0.07" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M149.5,0.5 L149.5,5.5" fill="none" stroke-width="0" stroke-opacity="0.3" stroke="#fff" transform="translate(0,243)" class="amcharts-axis-tick"></path><path cs="100,100" d="M149.5,243.5 L149.5,243.5 L149.5,0.5" fill="none" stroke-width="0" stroke-opacity="0.07" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M223.5,0.5 L223.5,5.5" fill="none" stroke-width="0" stroke-opacity="0.3" stroke="#fff" transform="translate(0,243)" class="amcharts-axis-tick"></path><path cs="100,100" d="M223.5,243.5 L223.5,243.5 L223.5,0.5" fill="none" stroke-width="0" stroke-opacity="0.07" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M298.5,0.5 L298.5,5.5" fill="none" stroke-width="0" stroke-opacity="0.3" stroke="#fff" transform="translate(0,243)" class="amcharts-axis-tick"></path><path cs="100,100" d="M298.5,243.5 L298.5,243.5 L298.5,0.5" fill="none" stroke-width="0" stroke-opacity="0.07" stroke="#000000" class="amcharts-axis-grid"></path></g></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1621442049780" transform="translate(15,20)" visibility="visible"><g><path cs="100,100" d="M0.5,243.5 L6.5,243.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#5CD5C4" transform="translate(-6,0)" class="amcharts-axis-tick"></path><path cs="100,100" d="M0.5,243.5 L0.5,243.5 L319.5,243.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#fff" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,194.5 L6.5,194.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#5CD5C4" transform="translate(-6,0)" class="amcharts-axis-tick"></path><path cs="100,100" d="M0.5,194.5 L0.5,194.5 L319.5,194.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#fff" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,146.5 L6.5,146.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#5CD5C4" transform="translate(-6,0)" class="amcharts-axis-tick"></path><path cs="100,100" d="M0.5,146.5 L0.5,146.5 L319.5,146.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#fff" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,97.5 L6.5,97.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#5CD5C4" transform="translate(-6,0)" class="amcharts-axis-tick"></path><path cs="100,100" d="M0.5,97.5 L0.5,97.5 L319.5,97.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#fff" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,49.5 L6.5,49.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#5CD5C4" transform="translate(-6,0)" class="amcharts-axis-tick"></path><path cs="100,100" d="M0.5,49.5 L0.5,49.5 L319.5,49.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#fff" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,0.5 L6.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#5CD5C4" transform="translate(-6,0)" class="amcharts-axis-tick"></path><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L319.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#fff" class="amcharts-axis-grid"></path></g></g></g><g></g><g></g><g></g><g></g><g><g transform="translate(15,20)" class="amcharts-graph-column amcharts-graph-sales"><g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(0,243)" aria-label=" 1/5 0"><path cs="100,100" d="M0.5,0.5 L4.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(7,243)" aria-label=" 2/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(17,243)" aria-label=" 3/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(28,243)" aria-label=" 4/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(39,243)" aria-label=" 5/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(49,243)" aria-label=" 6/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(60,243)" aria-label=" 7/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(70,243)" aria-label=" 8/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(81,243)" aria-label=" 9/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(92,243)" aria-label=" 10/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(102,243)" aria-label=" 11/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(113,243)" aria-label=" 12/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(124,243)" aria-label=" 13/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(134,243)" aria-label=" 14/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(145,243)" aria-label=" 15/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(156,243)" aria-label=" 16/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(166,243)" aria-label=" 17/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(177,243)" aria-label=" 18/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(187,243)" aria-label=" 19/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(198,243)" aria-label=" 20/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(209,243)" aria-label=" 21/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(219,243)" aria-label=" 22/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(230,243)" aria-label=" 23/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(241,243)" aria-label=" 24/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(251,243)" aria-label=" 25/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(262,243)" aria-label=" 26/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(272,243)" aria-label=" 27/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(283,243)" aria-label=" 28/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(294,243)" aria-label=" 29/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(304,243)" aria-label=" 30/5 0"><path cs="100,100" d="M0.5,0.5 L9.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-sales" transform="translate(315,243)" aria-label=" 31/5 0"><path cs="100,100" d="M0.5,0.5 L4.5,0.5" fill="none" stroke-width="5" stroke-opacity="0" stroke="#4bb1a3" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g></g></g></g><g></g><g><path cs="100,100" d="M0.5,243.5 L319.5,243.5 L319.5,243.5" fill="none" stroke-width="1" stroke-opacity="0.2" stroke="#fff" transform="translate(15,20)" class="amcharts-axis-zero-grid-valueAxisAuto0_1621442049780 amcharts-axis-zero-grid"></path><g class="amcharts-category-axis"><path cs="100,100" d="M0.5,0.5 L319.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#fff" transform="translate(15,263)" class="amcharts-axis-line"></path></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1621442049780"><path cs="100,100" d="M0.5,0.5 L0.5,243.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#5CD5C4" transform="translate(15,20)" class="amcharts-axis-line" visibility="visible"></path></g></g><g></g><g></g><g><g transform="translate(15,20)" class="amcharts-graph-column amcharts-graph-sales"></g></g><g><g></g></g><g><g class="amcharts-category-axis" transform="translate(15,20)" visibility="visible"><text y="6" fill="#fff" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(0,260.5)" class="amcharts-axis-label"><tspan y="6" x="0">1/5</tspan></text><text y="6" fill="#fff" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(74,260.5)" class="amcharts-axis-label"><tspan y="6" x="0">8/5</tspan></text><text y="6" fill="#fff" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(149,260.5)" class="amcharts-axis-label"><tspan y="6" x="0">15/5</tspan></text><text y="6" fill="#fff" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(223,260.5)" class="amcharts-axis-label"><tspan y="6" x="0">22/5</tspan></text><text y="6" fill="#fff" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(298,260.5)" class="amcharts-axis-label"><tspan y="6" x="0">29/5</tspan></text></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1621442049780" transform="translate(15,20)" visibility="visible"></g></g><g></g><g transform="translate(15,20)"></g><g></g><g></g></svg></div></div></div>
                        <div class="main-stats col-xs-12 col-md-6">
                            <div class="stats-title">
                                <h6> ملخص الشهر </h6>
                                <span>مايو 2021 </span>
                            </div>
                            <div class="stats-body">
                                <div class="stats-item active">
                                    <div class="stats-icon stats-visitors"><i class="sicon-users"></i></div>
                                    <div class="stats-text media-left">
                                        <div class="stats-number"> — </div>
                                        <div class="stats-subtext text-muted text-size-small">الزيارات</div>
                                    </div>
                                </div>
                                <div class="stats-item">
                                    <div class="stats-icon stats-orders"><i class="sicon-bag-dollar"></i></div>
                                    <div class="stats-text media-left">
                                        <div class="stats-number"> — </div>
                                        <div class="stats-subtext text-muted text-size-small">المبيعات</div>
                                    </div>
                                </div>
                                <div class="stats-item">
                                    <div class="stats-icon stats-sales"><i class="sicon-box"></i></div>
                                    <div class="stats-text media-left">
                                        <div class="stats-number"> — </div>
                                        <div class="stats-subtext text-muted text-size-small">الطلبات</div>
                                    </div>
                                </div>
                                <div class="stats-item stats-goal" id="div_store_target" data-store_id="418200" data-store_target="0" data-store_month_sale="0">

                                    <div class="chart content-group-sm svg-center position-relative" id="goal-progress"><svg width="50" height="50"><g transform="translate(25,25)"><path class="d3-progress-background" d="M0,25A25,25 0 1,1 0,-25A25,25 0 1,1 0,25M0,23A23,23 0 1,0 0,-23A23,23 0 1,0 0,23Z" style="fill: rgb(238, 238, 238);"></path><path class="d3-progress-foreground" filter="url(#blur)" style="fill: rgb(93, 213, 196); stroke: rgb(93, 213, 196);" d="M1.5308084989341915e-15,-25A25,25 0 0,1 1.5308084989341915e-15,-25L1.4083438190194562e-15,-23A23,23 0 0,0 1.4083438190194562e-15,-23Z"></path><path class="d3-progress-front" style="fill: rgb(93, 213, 196); fill-opacity: 1;" d="M1.5308084989341915e-15,-25A25,25 0 0,1 1.5308084989341915e-15,-25L1.4083438190194562e-15,-23A23,23 0 0,0 1.4083438190194562e-15,-23Z"></path></g></svg><i class="sicon-trophy2 text-success goal-icon" style="top: 12.5px"></i></div>
                                    <div class="stats-text media-left">
                                        <div class="stats-number" id="span_store_target">—</div>
                                        <div class="stats-subtext text-muted text-size-small" id="span_store_target_text">
                                            هدف الشهر
                                            <i class="sicon-keyboard_arrow_left text-bottom"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="https://s.salla.sa/reports" class="stats-more">المزيد من التقارير <i class="sicon-keyboard_arrow_left text-bottom"></i></a>
                        </div>
                    </div>

                </div>
                <div id="orders_div">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h6 class="panel-title"><i class="sicon-box"></i>&nbsp; أحدث الطلبات</h6>
                                </div>
                                <div class="no-more-tables table-with-links">
                                    <table class="table text-nowrap dashborad-order-table">
                                        <tbody>
                                            <tr>
                                                <td class="table-row-empty" colspan="3">
                                                    <span class="text-muted" style="color: #999;">لا توجد طلبات بعد</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-3 dashboard-left-col">
                <div class="panel panel-body help-panel hidden">
                    <a>
                        <div class="media no-margin stack-media-on-mobile">
                            <div class="media-left media-middle">
                                <i class="sicon-life-ring icon-3x text-muted no-edge-top"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading text-semibold">عندك أي استفسار ؟</h6>
                                <span class="help-subtext">اتفضل نساعدك 🤓</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="alerts_stream_div">
                    <div class="panel panel-flat panel-notifications">
                        <div class="panel-heading">
                            <h6 class="panel-title"><i class="sicon-bell"></i>&nbsp; التنبيهات</h6>
                        </div>
                        <div class="empty-box">
                            <div class="empty-icon"><i class="sicon-wind"></i></div>
                            <p class="empty-text">لا جديد</p>
                        </div>
                    </div>

                </div>
                <div id="products_out_div">
                    <div class="panel panel-flat panel-notifications">
                        <div class="panel-heading">
                            <h6 class="panel-title"><i class="sicon-warning"></i>&nbsp; منتجات نفدت</h6>
                        </div>
                        <div class="empty-box">
                            <div class="empty-icon"><i class="sicon-shirt"></i></div>
                            <p class="empty-text">لا يوجد</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer text-muted">
        <a href="https://s.salla.sa" target="_blank"> سلة</a> © 2021
    </div>

</div>


@code{

}