@inherits LayoutComponentBase
    <AuthorizeView>
        <NavMenu />

    </AuthorizeView>

    <div class="page-container" style="min-height:923px">

        <div class="page-content">
            <AuthorizeView>
                <SideBar />

            </AuthorizeView>



            @Body
        </div>
    </div>