@inherits LayoutComponentBase
<link href="/css/default.css" rel="stylesheet" />

<link href="/css/app.css" rel="stylesheet" />
<link href="/css/themes.css" rel="stylesheet" />
<link href="Shop.styles.css" rel="stylesheet" />
<link href="/css/main.css" rel="stylesheet" />

<link href="/css/theme-custom.css" rel="stylesheet" />




<div class="store-home salla-theme_6 color-mode-light font-dinnextltarabic-regular">


    <Header></Header>


    @Body


    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="footer-title">
                            <span>من نحن</span>
                        </h2>
                        <p>متجر متخصص في استيراد وبيع كافة الادوات الكهربائية ومستلزمات الإضاءة الداخلية والخارجية ومستلزمات المناسبات والحفلات</p>
                        <div class="store-contact">
                            <a href="https://nory.sa/whatsapp/send" rel="nofollow" style="direction:ltr" target="_blank">
                                <i class="sicon-whatsapp2"></i>
                                واتساب
                            </a>&nbsp;
                            <a href="tel:920011077">
                                <i class="sicon-phone"></i>
                                هاتف
                            </a>&nbsp;
                            <a href="mailto:norysa.help@gmail.com">
                                <i class="sicon-mail"></i>
                                ايميل
                            </a>&nbsp;
                        </div>
                        <div class="store-contact">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <h2 class="footer-title"><span>روابط مهمة</span></h2>
                        <ul class="footer-links">
                            <li><a href="https://nory.sa/p/jeez"> من نحن </a></li>
                            <li><a href="https://nory.sa/p/BddV"> شركات الشحن </a></li>
                            <li><a href="https://nory.sa/p/vXZey"> الشروط والاحكام </a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2 class="footer-title">
                            <span>تابعنا على الشبكات الاجتماعية</span>
                        </h2>
                        <ul class="social clearfix">
                            <li class="social__item">

                                <a href="https://www.instagram.com/nory_lighting" target="_blank" class="">

                                    <span class="theme-icon-instagram"></span>
                                </a>
                            </li>
                            <li class="social__item">

                                <a href="https://twitter.com/nory_lighting" target="_blank" class="">

                                    <span class="theme-icon-twitter"></span>
                                </a>
                            </li>
                            <li class="social__item">

                                <a href="https://www.snapchat.com/add/nory_lighting" target="_blank" class="">

                                    <span class="sicon-snapchat"></span>
                                </a>
                            </li>
                            <li class="social__item">

                                <a href="https://www.youtube.com/user/-" target="_blank" class="">

                                    <span class="theme-icon-youtube"></span>
                                </a>
                            </li>
                            <li class="social__item">

                                <a href="https://www.facebook.com/nory.lighting.923" target="_blank" class="">

                                    <span class="theme-icon-facebook"></span>
                                </a>
                            </li>
                            <li class="social__item">

                                <a href="https://maroof.sa/11582" target="_blank" class="">

                                    <span class="theme-icon-link"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-sub">
            <div class="container">
                <div class="fs-cont">
                    <div class="fs-rights">
                        <p class="mb-4 mb-md-0">
                            الحقوق محفوظة NORY © 2021
                        </p>
                    </div>
                    <div class="fs-payment">
                        <img src="https://assets.salla.cloud/themes/default/assets/images/mada.png?v=v1.3.983" style="max-width: 50px;margin: 0 3px;" alt="">
                        <img src="https://assets.salla.cloud/themes/default/assets/images/cc.png?v=v1.3.983" style="max-width: 50px;margin: 0 3px;" alt="">
                        <img src="https://assets.salla.cloud/themes/default/assets/images/bank.png?v=v1.3.983" style="max-width: 50px;margin: 0 3px;" alt="">
                        <img src="https://assets.salla.cloud/themes/default/assets/images/stcpay.png?v=v1.3.983" style="max-width: 50px;margin: 0 3px;" alt="">
                        <img src="https://assets.salla.cloud/themes/default/assets/images/cod.png?v=v1.3.983" style="max-width: 50px;margin: 0 3px;" alt="">
                        <a href="https://maroof.sa/11582" target="_blank" rel="noopener noreferrer">
                            <img src="https://assets.salla.cloud/themes/default/assets/images/maroof-footer.png?v=v1.3.983" style="max-width: 50px;margin: 0 3px;" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
