@inject NavigationManager nav


@if (NotAuthorized) 
{
    <p>المعذرة لايوجد لديك صلاحية الوصول لهذه الصحفة </p>
}


@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }
    public bool NotAuthorized { get; set; } = false;

    protected async override Task OnInitializedAsync()
    {
        var auth = await AuthenticationState;

        if (auth?.User?.Identity == null || !auth.User.Identity.IsAuthenticated)
        {
            var returnUrl = nav.ToBaseRelativePath(nav.Uri);

            if (string.IsNullOrEmpty(returnUrl))
            {
                nav.NavigateTo("/identity/account/login", true);
            }
            else
            {
                nav.NavigateTo($"/identity/account/login?returnurl={returnUrl}",true);
            }
        }
        else
        {
            NotAuthorized = true;
        }
    }

}
