<div class="sidebar sidebar-main" data-simplersidebar="closed" style="position: fixed; top: 50px; bottom: 0px; width: 260px; z-index: 3000; right: -260px;">
    <div class="sidebar-content">


        <div class="sidebar-user sidebar-user--basic">
            <div class="media">
                <div class="media-left no-padding" id="store_avatar">
                    <div class="store-img-wrapper">
                        <img id="store_avatar_img" class="store-img img-circle img-sm" alt="test" src="https://assets.salla.sa/cp/assets/images/placeholder.png">
                        <a href="https://s.salla.sa/marketplace/plans" class="badge badge--primary plan-name">سلة بيسك</a>
                    </div>
                    <div class="store-name-plan">
                        <h6 class="store-name-side font-regular">

                            test
                        </h6>
                        <div class="store-link dropdown">
                            <a href="https://salla.sa/aldmlhe?expires=1621445647&amp;identifier=355962419&amp;utm_source=dashboard&amp;signature=ff9acdce456363d39802f0c24ce44fda042798609c57534fdb87ab9829e80b8a" target="_blank" class="btn visit-store">
                                زيارة المتجر
                                <i class="sicon-keyboard_arrow_left"></i>
                            </a>
                            <button class="btn share dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="sicon-share-alt"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-link">
                                    <a href="javascript:void(0)" data-text="https://salla.sa/aldmlhe" id="link_store_url" class="copy-site-url">
                                        <i class="sicon-swap-stroke"></i>
                                        نسخ رابط المتجر
                                    </a>
                                </li>
                                <li class="dropdown-link">
                                    <a target="_blank" data-sharer="whatsapp" data-title="" data-url="https://salla.sa/aldmlhe" href="#">
                                        <i class="sicon-whatsapp"></i>
                                        واتساب
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <li class="active">
                        <a href="https://s.salla.sa/home/">
                            <i class="sicon-home"></i>
                            <span> الرئيسية</span>
                        </a>
                    </li>
                    <li class="">
                        <NavLink href="/products">
                            <i class="sicon-t-shirt"></i>
                            <span> المنتجات</span>
                        </NavLink>
                    </li>
                    <li class="">
                        <a href="/orders">
                            <i class="sicon-box"></i>
                            <span> الطلبات</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/customers">
                            <i class="sicon-users"></i>
                            <span> العملاء</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://s.salla.sa/reports">
                            <i class="sicon-chart-pie"></i>
                            <span> التقارير</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://s.salla.sa/feedback">
                            <i class="sicon-chat-conversation-alt"></i> <span>الأسئلة والتقييمات</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://s.salla.sa/pages">
                            <i class="sicon-newspaper"></i>
                            <span> الصفحات التعريفية</span>
                        </a>
                    </li>
                    <li class="navigation-header"><span>التسويق</span></li>
                    <li class="">
                        <a href="https://s.salla.sa/coupons">
                            <i class="sicon-ticket"></i>
                            <span>كوبونات التخفيض</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://s.salla.sa/specialoffer">
                            <i class="sicon-special-discount"></i>
                            <span>العروض الخاصة</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://s.salla.sa/campaign">
                            <i class="sicon-paper-plane-o"></i>
                            <span>الحملات التسويقية</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://s.salla.sa/marketing/abandoned_carts">
                            <i class="sicon-shopping"></i>
                            <span>السلات المتروكة</span>
                        </a>
                    </li>
                    <li class="navigation-header"><span>الاعدادات</span></li>
                    <li class="">
                        <a href="https://s.salla.sa/settings">
                            <i class="sicon-settings"></i>
                            <span>إعدادات المتجر</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://s.salla.sa/design">
                            <i class="sicon-window-layout"></i>
                            <span>تصميم المتجر</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://s.salla.sa/store-app">
                            <i class="sicon-iphone"></i>
                            <span>تصميم التطبيق</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://s.salla.sa/wallet">
                            <i class="sicon-wallet"></i>
                            <span>المحفظة والفواتير</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://s.salla.sa/marketplace" class="salla-store-link">
                            <i class="sicon-store"></i>
                            <span> متجر سلة</span>
                        </a>
                    </li>
                    <li class="navigation-header hidden-xs"><span>تطبيق التاجر</span></li>
                    <p style="margin: 0 18px 0 5px; display: inline-block;" class="align-center hidden-xs"><a href="https://itunes.apple.com/sa/app/slt-ttbyq-altajr/id1148458340?mt=8" target="_blank" class="appstore"></a></p>
                    <p style="margin: 0; display: inline-block;" class="align-center hidden-xs"><a href="https://play.google.com/store/apps/details?id=com.emoney.sallacp" target="_blank" class="googleplay"></a></p>
                </ul>
            </div>
        </div>

    </div>
</div>





      
